name: Build Android APK

on:
  push:
    branches:
      - main

jobs:
  build:
    name: Build APK
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: ./mobile

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Setup Node.js
        uses: actions/setup-node@v3
        with:
          node-version: 18
          cache: 'npm'
          cache-dependency-path: mobile/package-lock.json

      - name: Setup Java
        uses: actions/setup-java@v3
        with:
          distribution: 'zulu'
          java-version: '17'

      - name: Setup Android SDK
        uses: android-actions/setup-android@v3

      - name: Install dependencies
        run: npm ci

      - name: Prebuild
        run: npx expo prebuild --platform android --no-install

      - name: Build APK
        run: |
          cd android
          chmod +x gradlew
          ./gradlew assembleDebug --no-daemon

      - name: Upload Artifact
        uses: actions/upload-artifact@v3
        with:
          name: parttime
          path: mobile/android/app/build/outputs/apk/debug/parttime.apk

      - name: Release APK
        uses: softprops/action-gh-release@v1
        with:
          tag_name: latest
          name: Latest Build
          draft: false
          prerelease: false
          files: mobile/android/app/build/outputs/apk/debug/parttime.apk
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
